{% extends "layout.html" %}
{% block head %}
<script defer src="{{url_for('static', filename='js/tasks.js')}}"></script>
{% endblock %}

{% block content %}
<h1>Tasks <small class="text-muted">to-do today</small></h1>
{% if todos|length < 1 %}
<h4>🌇 All clear!</h4>
<p>Add new tasks below.</p><br>
{% else %}
<table class="table table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
            <th>Status</th>
        </tr>
    </thead>
    {% for task in todos %}
    <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.date_created.date() }}</td>
        <td>
            <a href="/delete/{{task.id}}">Delete</a><br>
            <a href="/update/{{task.id}}">Update</a><br>
            {% if task.completed == 1 %} 
            {% else %} 
            <a href="/complete/{{task.id}}">Mark complete</a>
            {% endif %}
        </td>
        <td>
            {% if task.completed == 1 %} ☑️Done
            {% else %} 📥Open
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<form action="/" method="POST">
    <input id="newtask" name="newtask" type="text" placeholder="Enter task here" autofocus>
    <input id="submit" name="submit" type="submit" value="Add Task" disabled>
    <input id="reset" type="reset" disabled><br><br>
    <input id="refresh" name="submit" type="submit" value="Remove all">
</form>
<hr><a href="/thankyou">Close app</a>
{% endblock %}
