{% extends "layout.html" %}

{% block content %}
<h2>Tasks <small class="text-muted">to-do today</small></h2>
<table class="table table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for task in todos %}
    <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.date_created.date().strftime('%d-%m-%Y') }}</td>
        <td>
            <a href="/delete/{{ task.id }}">Delete</a><br>
            <a href="/update/{{ task.id }}">Update</a>
        </td>
    </tr>
    {% endfor %}
</table>

<form action="/" method="POST">
    <input id="newtask" name="newtask" type="text" placeholder="Enter task here" autofocus>
    <input id="submit" name="submit" type="submit" value="Add Task" disabled>
    <input id="reset" type="reset" disabled><br><br>
    <input id="refresh" name="submit" type="submit" value="Remove all">
</form>

<script>
    document.querySelector('#newtask').onkeyup = function () {
        if (document.querySelector('#newtask').value === '') {
            document.querySelector('#submit').disabled = true;
            document.querySelector('#reset').disabled = true;
            document.querySelector('#refresh').disabled = false;

        } else {
            document.querySelector('#submit').disabled = false;
            document.querySelector('#reset').disabled = false;
            document.querySelector('#refresh').disabled = true;
        }
    }
    document.querySelector('#reset').onclick = function () {
        document.querySelector('#submit').disabled = true;
        document.querySelector('#reset').disabled = true;
        document.querySelector('#refresh').disabled = false;
    }
</script>
<hr><a href="/thankyou">Close app</a>
{% endblock %}