{% extends "layout.html" %}

{% block head %}
<script defer src="{{url_for('static', filename='js/update.js')}}"></script>
{% endblock %}

{% block content %}
<h1>Tasks <small class="text-muted">to-do today</small></h1>
<h3>Update Task</h3><hr>

<form action="/update/{{task.id}}" method="POST">
    <input id="updtask" name="updtask" type="text" value="{{task.content}}" autofocus>
    <input id="submit" name="submit" type="submit" value="Update" disabled>
    <input id="reset" type="reset" disabled>
</form><br><br>
Go back to <a href="/">all tasks</a>
<script>
    document.querySelector('#updtask').onkeyup = function () {
        if (document.querySelector('#newtask').value === '') {
            document.querySelector('#submit').disabled = true;
            document.querySelector('#reset').disabled = true;

        } else {
            document.querySelector('#submit').disabled = false;
            document.querySelector('#reset').disabled = false;
        }
    }
    document.querySelector('#reset').onclick = function () {
        document.querySelector('#submit').disabled = true;
        document.querySelector('#reset').disabled = true;
    }
</script>
{% endblock %}